<div class="widget user-dashboard-menu">
    <ul>
        <li class="active"><a (click)="goToAdsList()" routerLink=""><i class="fa fa-user"></i> My Ads</a></li>
        <li><a href=""><i class="fa fa-bookmark-o"></i> Favourite Ads <span>5</span></a></li>
        <li><a href=""><i class="fa fa-file-archive-o"></i>Archived Ads <span>12</span></a></li>
        <!-- //this is only for role advertiser -->
        <li *ngIf="this.authority==='advertiser'"><a href=""><i class="fa fa-bolt"></i> Pending Approval<span>23</span></a></li>
        <li><a href=""><i class="fa fa-cog"></i> Logout</a></li>
        <li><a href=""><i class="fa fa-power-off"></i>Delete Account</a></li>
    </ul>
</div>