<!DOCTYPE html>
<html lang="en">

<head></head>

<body class="body-rapper">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-expand-lg  navigation">
                        <a class="navbar-brand" href="index.html">
                            <!-- <a class="navbar-brand" href="#">LBMarketing</a> -->
                            <img src="assets/images/logo.png" alt="">
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto main-nav ">
                                <li class="nav-item active">
                                    <a class="nav-link" href="index.html" routerLink="home">Home</a>
                                </li>
                                <!-- <li *ngIf="authority" class="nav-item">
                                <a class="nav-link" href="dashboard.html" routerLink="dashboard">Dashboard</a>
                                </li> -->
                                <li *ngIf="this.tokenStorage.isUserLoggedIn()  &&  authority === 'user'" class="nav-item">
                                    <a class="nav-link" routerLink="dashboard">User Board</a>
                                </li>
                                <li *ngIf="this.tokenStorage.isUserLoggedIn()  &&  authority === 'admin'" class="nav-item">
                                    <a class="nav-link" routerLink="dashboard">Admin Board</a>
                                </li>
                                <li *ngIf="this.tokenStorage.isUserLoggedIn()  &&  authority === 'advertiser'" class="nav-item">
                                    <a class="nav-link" routerLink="dashboard">Advertiser Board</a>
                                </li>
                                <li *ngIf="this.tokenStorage.isUserLoggedIn()  &&  authority === 'consumer'" class="nav-item">
                                    <a class="nav-link" routerLink="dashboard">Consumer Board</a>
                                </li>

                                <li class="nav-item dropdown dropdown-slide">
                                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                     Pages <span><i class="fa fa-angle-down"></i></span>
                                </a>
                                    <!-- Dropdown list -->
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="category.html">Category</a>
                                        <a class="dropdown-item" href="single.html">Single Page</a>
                                        <a class="dropdown-item" href="store-single.html">Store Single</a>
                                        <a class="dropdown-item" href="dashboard">Dashboard</a>
                                        <a class="dropdown-item" href="user-profile.html">User Profile</a>
                                        <a class="dropdown-item" href="submit-coupon.html">Submit Coupon</a>
                                        <a class="dropdown-item" href="blog.html">Blog</a>
                                        <a class="dropdown-item" href="sinlge-blog.html">Single Post</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown dropdown-slide">
                                    <a class="nav-link dropdown-toggle" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Listing <span><i class="fa fa-angle-down"></i></span>
                                </a>
                                    <!-- Dropdown list -->
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </li>
                            </ul>
                            <ul class="navbar-nav ml-auto mt-10">
                                <li *ngIf="!this.tokenStorage.isUserLoggedIn()" class="nav-item">
                                    <a class="nav-link login-button" routerLink="auth/login">Login</a>
                                </li>
                                <li *ngIf="this.tokenStorage.isUserLoggedIn()" class="nav-item">
                                    <button (click)="logout()" class="nav-link login-button">Logout</button>
                                    <!-- <a class="nav-link login-button" href="index.html" (click)="logout()">Logout</a> -->
                                </li>
                                <!-- <li class="nav-item">
                                <a class="nav-link add-button" href="#"><i class="fa fa-plus-circle"></i> Add Listing</a>
                            </li> -->
                                <li *ngIf="!this.tokenStorage.isUserLoggedIn()" class="nav-item">
                                    <a class="nav-link add-button" routerLink="signup">Create an account</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <hr>
    </section>
</body>

</html>