<!--===============================
=            Hero Area            =
================================-->

<app-hero-area></app-hero-area>

<!--===================================
=            Client Slider            =
====================================-->


<!--===========================================
=            Popular deals section            =
============================================-->


<app-popular-deals></app-popular-deals>


<!--==========================================
=            All Category Section            =
===========================================-->


<app-all-category></app-all-category>